.table {
    display: table;
    border-collapse: collapse;
    margin: 30px auto 0 auto;
    transition-duration: 1s;
    animation-duration: 1s;
}

.table__row {
    display: table-row;
}

.table__cell {
    display: table-cell;
    text-align: center;
    padding: 2px 10px;
    border: 1px solid #ccc;
}

.table__key {
    background-color: #4879ff4f;
}
.navigation {
    text-align: center;
}
.navigation__forms {
    justify-content: center;
    margin: 20px 20px;
}

.navigation__form {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.navigation__form > button {
    min-width: 180px;
}
.navigation__form > input {
    margin-right: 10px;
}

.navigation__button {
    height: 40px;
    position: relative;
    top: -3px;
}
